@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('./root.css');

body {
    font-family: var(--font-family);
}

.main {
    background-color: var(--yellow-color);
}

.container {
    position: relative;
    background-color: var(--red-color);
    height: 100vh;
    border-left: 30px solid var(--blue-color);
    border-right: 30px solid var(--blue-color);
}

.container h1 {
    text-align: center;
    display: block;
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 56px;
    width: 80%;
    letter-spacing: 2px;

}

.play-btn {
    display: block; 
    font-size: 30px;
    padding: 6px 24px;
    border-radius: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 20px;
    transition: .3s;
    color: var(--black-color);
    background-color: var(--white-color);
    text-decoration: none;
}
.play-btn:hover {
    cursor: pointer;
    background-color: var(--blue-color);
    text-decoration: none;
    color: var(--white-color);
}

.play-btn:active {
    background-color: var(--yellow-color);
    color: var(--white-color);
    transition: unset;
}